In [2]:
import baostock as bs
import pandas as pd

In [13]:
def get_stock(stock_num, stock_type, start, end):
    stock = stock_num+'.'+stock_type
    lg = bs.login()
    rs = bs.query_history_k_data(stock,"date,open,high,low,close,volume,amount", 
                                 start_date = start, end_date = end, frequency="d")
    #print('query_history_k_data respond error_code:'+rs.error_code)
    #print('query_history_k_data respond  error_msg:'+rs.error_msg)
    data_list = []
    while (rs.error_code == '0') & rs.next(): 
        data_list.append(rs.get_row_data())
    result = pd.DataFrame(data_list, columns=rs.fields)
    df = result
    if len(df) == 0:
        print("No such stock!")
        return 0
    df.columns = ['交易日期','开盘价','最高价','最低价','收盘价','成交数量(股)','成交金额(元)']
    df.to_csv(stock+'.csv',index = False)
    return df

In [4]:
def get_stock_to_excel(stock_num, stock_type, start, end):
    stock = stock_num+'.'+stock_type
    lg = bs.login()
    rs = bs.query_history_k_data(stock,"date,open,high,low,close,volume,amount", 
                                 start_date = start, end_date = end, frequency="d")
    print('query_history_k_data respond error_code:'+rs.error_code)
    print('query_history_k_data respond  error_msg:'+rs.error_msg)
    data_list = []
    while (rs.error_code == '0') & rs.next(): 
        data_list.append(rs.get_row_data())
    result = pd.DataFrame(data_list, columns=rs.fields)
    df = result
    df.columns = ['交易日期','开盘价','最高价','最低价','收盘价','成交数量(股)','成交金额(元)']
    df.to_excel(stock+'.xlsx',index = False)
    return df

In [18]:
stock_num = 600000
SUM = 0
for i in range(0,9999):
    
    if SUM == 50:
        break
    stock_num += 1
    try:
        get_stock(str(stock_num),'SH','2020-07-22','2021-07-21')
        print(stock_num)
        print(SUM)
        try:
            pd.read_csv(str(stock_num)+'.SH.csv')
            SUM += 1
        except:
            continue
    except:
        continue

login success!
No such stock!
600001
0
login success!
No such stock!
600002
0
login success!
No such stock!
600003
0
login success!
600004
0
login success!
No such stock!
600005
1
login success!
600006
1
login success!
600007
2
login success!
600008
3
login success!
600009
4
login success!
600010
5
login success!
600011
6
login success!
600012
7
login success!
No such stock!
600013
8
login success!
No such stock!
600014
8
login success!
600015
8
login success!
600016
9
login success!
600017
10
login success!
600018
11
login success!
600019
12
login success!
600020
13
login success!
600021
14
login success!
600022
15
login success!
600023
16
login success!
No such stock!
600024
17
login success!
600025
17
login success!
600026
18
login success!
600027
19
login success!
600028
20
login success!
600029
21
login success!
600030
22
login success!
600031
23
login success!
600032
24
login success!
600033
25
login success!
No such stock!
600034
26
login success!
600035
26
login success!
600036
27
login success!
600037
28
login success!
600038
29
login success!
600039
30
login success!
No such stock!
600040
31
login success!
No such stock!
600041
31
login success!
No such stock!
600042
31
login success!
No such stock!
600043
31
login success!
No such stock!
600044
31
login success!
No such stock!
600045
31
login success!
No such stock!
600046
31
login success!
No such stock!
600047
31
login success!
600048
31
login success!
No such stock!
600049
32
login success!
600050
32
login success!
600051
33
login success!
600052
34
login success!
600053
35
login success!
600054
36
login success!
600055
37
login success!
600056
38
login success!
600057
39
login success!
600058
40
login success!
600059
41
login success!
600060
42
login success!
600061
43
login success!
600062
44
login success!
600063
45
login success!
600064
46
login success!
No such stock!
600065
47
login success!
600066
47
login success!
600067
48
login success!
600068
49

In [16]:
get_stock_to_excel('000001','SH','2011-01-01','2020-12-31')

login success!
query_history_k_data respond error_code:0
query_history_k_data respond  error_msg:success

,交易日期,开盘价,最高价,最低价,收盘价,成交数量(股),成交金额(元)
0,2011-01-04,2825.3290,2855.3960,2810.1080,2852.6480,11007279100,145659819257.0000
1,2011-01-05,2833.1170,2850.4930,2824.2960,2838.5930,10441528200,135264799911.0000
2,2011-01-06,2838.4350,2853.8750,2816.9510,2824.1970,8470561600,113251589879.0000
3,2011-01-07,2820.6650,2868.0050,2807.8700,2838.8010,11312956800,137163500552.0000
4,2011-01-10,2832.6220,2847.3580,2786.8610,2791.8090,9078087200,110796771362.0000
...,...,...,...,...,...,...,...
2427,2020-12-25,3351.7901,3397.0066,3348.3453,3396.5626,29454689500,359094444683.1000
2428,2020-12-28,3396.3590,3412.5193,3383.6540,3397.2854,31618154200,398159968832.7000
2429,2020-12-29,3399.2939,3407.0884,3376.0876,3379.0362,31176918500,382102563807.2000
2430,2020-12-30,3375.0086,3414.4539,3374.4156,3414.4527,29102354300,377542350937.2000
2431,2020-12-31,3419.7267,3474.9182,3419.7267,3473.0693,33567392600,450482318883.5000